body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color:#EAF6F6;
  position: relative;
  padding-top: 100px;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  width: 20%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}

a {
  color:#11999E;
}

.bottom-container {
  margin-top: 100px;
  width: 100%;
  margin-bottom: 0;
  background-color: #66BFBF;
  height: 200px;
}

.bottom-cloud {
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-picture {
  margin-top: 70px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.tech-guy {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 170px auto 170px auto;
  text-align: left;
  line-height: 2;
}

.web-dev-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.service-desk-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.personal-description {
  color: #40514E;
  font-size: 1.06rem;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  border-color: #EAF6F6;
  margin: 90px auto 90px auto;
}

.service-desk-descp{
  font-size: 1.06rem;
}

.web-dev-descp {
  font-size: 1.06rem;
}

.contact-text {
  font-size: 1.06rem;
}

.contact-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 1.12rem;
  font-weight: 100;
  padding: 1.06rem;
  background-color: #44b1b1;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-btn:hover {
  background-color: #6c9e9e;
}

.by-text {
  margin-bottom:0;
  margin-top: 80px;
  color:#EAF6F6;
}

.footer-link {
  position: relative;
  color: #11999E;
  padding: 15px;
  top: 50px;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color:#EAF6F6;
}